In [18]:
import os
import urllib.request
import pandas as pd
from functools import reduce

from utils import *

In [19]:
url = "https://data.un.org/_Docs/SYB/CSV/SYB67_230_202411_GDP%20and%20GDP%20Per%20Capita.csv"

In [20]:
filedir = os.getcwd()
urllib.request.urlretrieve(url, filedir + '/tmp_data.csv');

In [21]:
df_in = prepare_un_dataset(filedir, url)
features = df_in['Series'].unique()
print(features)

['GDP in current prices (millions of US dollars)'
 'GDP per capita (US dollars)'
 'GDP in constant 2015 prices (millions of US dollars)'
 'GDP real rates of growth (percent)']

In [31]:
names_transforms_array = [
    ['GDP in current prices (millions of US dollars)', 'GDP (millions of US dollars)', string_with_commas_to_float],
    ['GDP per capita (US dollars)', None, string_with_commas_to_float],
    ['GDP real rates of growth (percent)', 'GDP real rates of growth', percentage_str_to_prop_float],
]

names_transforms = make_names_transforms_df(names_transforms_array)

In [32]:
new_dfs = dataset_from_names_and_transforms(df_in, names_transforms)

In [33]:
df = reduce(lambda  left,right: pd.merge(left,right,on=['Country'], how='outer'), new_dfs)
df.head()

,Country,GDP (millions of US dollars),GDP per capita (US dollars),GDP real rates of growth
0,Afghanistan,15145.0,537.0,0.025
1,Albania,11927.0,4094.0,0.037
2,Algeria,161207.0,4496.0,0.036
3,Andorra,3447.0,48191.0,-0.020
4,Angola,83799.0,3587.0,0.049

In [17]:
os.remove(filedir + '/tmp_data.csv')